# MongoDB Connection String (Atlas Free M0)
# Format: mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority
MONGODB_URI=

# Port HTTP Web Server (Render otomatis mengisi nilai ini secara internal)
PORT=3000

# Node Environment
NODE_ENV=production

# Konfigurasi Bot Opsional
OWNER_NUMBER=6281339467851
OWNER_NAME=Putu Pasek Jade Aurestha
GEMINI_API_KEY=

